<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <div class="container1">
        <div class="first_floor">
          <div class="first_floor_left">
            <div class="menubar">
              <img src="./img/Hamburger menu.svg" alt="" />
              <h4>Sections</h4>
            </div>
            <input type="search" placeholder="search" class="search" />
          </div>
          <div class="first_floor_right">
            <div class="first_floor_img">
              <img src="./img/Image.png" alt="" />
              <div class="text_side">
                <h3>Subscribe Now</h3>
                <h4>3 month for $19</h4>
              </div>
            </div>
            <div class="register_side">
              <img src="./img/Man.png" alt="" />
              <h3>Sign In</h3>
            </div>
          </div>
        </div>
        <div class="second_floor">
          <h3>Boston and New York Bear Brunt</h3>
          <img src="./img/Universal.png" alt="" />
         
         
          <div class="second_floor_text">
            <h3><%= logo %></h3>
            <div class="whether_side">
              <img src="./img/Sun.png" alt="" />
              <h3>+ 23 °C</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="third_floor">
        <div class="container1">
          <ul id="folder"></ul>
        </div>
      </div>
    </header>
    <div class="showcase">
      <div class="container1">
        <img src="./img/bgimg.png" alt="" class="bgimg" />
        <div class="showcase_left">
          <div class="user_img">
            <img src="./img/Avatar.png" alt="" />
            <h3>By Benjamin Turner</h3>
            <h4>Traveler</h4>
          </div>
          <h3 class="Destinations">Destinations</h3>
          <h2>
            In Southeast England, White <br />
            Cliffs and Fish
          </h2>
          <div class="button_side">
            <button class="btn">Read more</button>
            <div class="play_btn">
              <img src="./img/Play.png" alt="" />
              <div class="play_btn_txt">
                <h3>The chalk cliff of Beachy Head</h3>
                <h3>18:05</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="showcase_right">
          <div class="showcase_right_header">
            <h2>Recommended for you</h2>
          </div>
          <div class="showcase_card">
            <h3>Food</h3>
            <h4>For Chicken-Fried Steak, Too Much Is Just Enough</h4>
          </div>
          <div class="showcase_card">
            <h3 style="color: #6e99ae">Cars</h3>
            <h4>For Chicken-Fried Steak, Too Much Is Just Enough</h4>
          </div>
          <div class="showcase_card">
            <h3 style="color: #ac8ee3">Movies</h3>
            <h4>For Chicken-Fried Steak, Too Much Is Just Enough</h4>
          </div>
          <div class="showcase_card">
            <h3 style="color: #ffa34d">NFL</h3>
            <h4>For Chicken-Fried Steak, Too Much Is Just Enough</h4>
          </div>
          <div class="showcase_card">
            <h3 style="color: #3dc47e">Tech Reviews</h3>
            <h4>For Chicken-Fried Steak, Too Much Is Just Enough</h4>
          </div>
        </div>
      </div>
    </div>
    <section class="cars">
      <div class="container1">
        <div class="header_card">
          <div class="header_card_up">
            <div class="header_card_text">
              <h3>Cars</h3>
              <h4>The joy of replicas: A $ 5 million car for $ 50,000</h4>
              <h5>
                The 31-year-old self-taught engineer and former amateur racer
                spends his days building artful recreations of one of most
                iconic sports cars
              </h5>
            </div>
            <img src="./img/car.png" alt="" />
          </div>
          <div class="header_card_down">
            <img src="./img/opa.png" alt="" />
            <h2>
              Jessica Miller:
              <span>Even as the ride-hailing service’s future remem…</span>
            </h2>
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                fill="#BCBFC2"
              />
            </svg>
            <h3>342</h3>
          </div>
        </div>
        <div class="invisible">
          <button>popular</button>
          <h3>Art & Design</h3>
          <h4>
            Invisible ink: the weird world of tattoo removal – in pictures
          </h4>
          <div class="invisible_down_side">
            <img src="./img/opa.png" alt="" />
            <div class="down_side_txt">
              <h3>By Sarah Jenkins</h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
        </div>
        <div class="cat">
          <img src="./img/cat.png" alt="" />
          <div class="cat_txt">
            <h3>200+ Doomed Cats Saved From Euthanization</h3>
          </div>
        </div>
        <div class="coffe cars_cards">
          <h3>Is Coffee Bad for Bones?</h3>
          <h4>
            Coffee drinkers may excrete more calcium, but it doesn’t appear to
            weaken bones
          </h4>
          <h5>Oct 15</h5>
        </div>
        <div class="manufacture cars_cards">
          <h3>Is Coffee Bad for Bones?</h3>
          <h4>
            Coffee drinkers may excrete more calcium, but it doesn’t appear to
            weaken bones
          </h4>
          <h5>Oct 15</h5>
        </div>
        <div class="stressfull cars_cards">
          <h3>Is Coffee Bad for Bones?</h3>
          <h4>
            Coffee drinkers may excrete more calcium, but it doesn’t appear to
            weaken bones
          </h4>
          <h5>Oct 15</h5>
        </div>
        <div class="lemon cars_cards">
          <h3>Is Coffee Bad for Bones?</h3>
          <h4>
            Coffee drinkers may excrete more calcium, but it doesn’t appear to
            weaken bones
          </h4>
          <h5>Oct 15</h5>
        </div>
      </div>
    </section>
    <section class="blum">
      <div class="container1">
        <h3>
          The Big Bloom or «How Flowering <br />
          Plants Changed the World»
        </h3>
        <button class="btn">Read more</button>
      </div>
    </section>
    <section class="passenger">
      <div class="container1">
        <div class="card_elements">
          <div class="passamger_card">
            <img src="./img/bratan.png" alt="" />
            <div class="cards_text_side border_top">
              <h1>Flights</h1>
              <h2>
                Passengers Suffer as Crowded Field Puts Pressure on Europe’s
                Airlines
              </h2>
              <h3>
                Weaker carriers have fallen by the wayside amid fierce
                competition, while others have been hit by bad luck. The result:
                thousands of canceled flights.
              </h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
          <div class="passamger_card">
            <img src="./img/bratan.png" alt="" />
            <div class="cards_text_side">
              <h1>Flights</h1>
              <h2>
                Passengers Suffer as Crowded Field Puts Pressure on Europe’s
                Airlines
              </h2>
              <h3>
                Weaker carriers have fallen by the wayside amid fierce
                competition, while others have been hit by bad luck. The result:
                thousands of canceled flights.
              </h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
          <div class="passamger_card">
            <img src="./img/bratan.png" alt="" />
            <div class="cards_text_side">
              <h1>Flights</h1>
              <h2>
                Passengers Suffer as Crowded Field Puts Pressure on Europe’s
                Airlines
              </h2>
              <h3>
                Weaker carriers have fallen by the wayside amid fierce
                competition, while others have been hit by bad luck. The result:
                thousands of canceled flights.
              </h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
          <div class="passamger_card">
            <img src="./img/bratan.png" alt="" />
            <div class="cards_text_side">
              <h1>Flights</h1>
              <h2>
                Passengers Suffer as Crowded Field Puts Pressure on Europe’s
                Airlines
              </h2>
              <h3>
                Weaker carriers have fallen by the wayside amid fierce
                competition, while others have been hit by bad luck. The result:
                thousands of canceled flights.
              </h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
          <div class="passamger_card">
            <img src="./img/bratan.png" alt="" />
            <div class="cards_text_side">
              <h1>Flights</h1>
              <h2>
                Passengers Suffer as Crowded Field Puts Pressure on Europe’s
                Airlines
              </h2>
              <h3>
                Weaker carriers have fallen by the wayside amid fierce
                competition, while others have been hit by bad luck. The result:
                thousands of canceled flights.
              </h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
          <div class="passamger_card">
            <img src="./img/bratan.png" alt="" />
            <div class="cards_text_side">
              <h1>Flights</h1>
              <h2>
                Passengers Suffer as Crowded Field Puts Pressure on Europe’s
                Airlines
              </h2>
              <h3>
                Weaker carriers have fallen by the wayside amid fierce
                competition, while others have been hit by bad luck. The result:
                thousands of canceled flights.
              </h3>
              <h4>
                Sept 26
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.1346 12V15L8.36064 12H2.25C1.42157 12 0.75 11.3284 0.75 10.5V3C0.75 2.17157 1.42157 1.5 2.25 1.5H12.75C13.5784 1.5 14.25 2.17157 14.25 3V10.5C14.25 11.3284 13.5784 12 12.75 12H11.1346Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                16
                <span
                  ><svg
                    width="15"
                    height="15"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.4">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.8391 2.96033C12.1701 2.2119 11.2807 1.80005 10.3346 1.80005C9.38831 1.80005 8.59423 2.2119 7.925 2.96033L7.49998 3.63921L7.075 2.96033C6.40597 2.2119 5.61164 1.80005 4.66557 1.80005C3.71953 1.80005 2.82982 2.2119 2.16086 2.96033C0.779712 4.50554 0.779712 7.01968 2.16086 8.56429L7.10991 13.3207C7.19083 13.4116 7.29157 13.4672 7.39682 13.4886C7.43211 13.4964 7.46761 13.5 7.50317 13.5C7.64318 13.5 7.78341 13.4403 7.89004 13.3207L12.8391 8.56429C14.2203 7.01968 14.2203 4.50554 12.8391 2.96033Z"
                        fill="white"
                      />
                    </g>
                  </svg>
                </span>
                832
              </h4>
            </div>
          </div>
        </div>
        <div class="card_right">
          <h3>Recommended for you</h3>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>1</h2>
            </div>
          </div>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>2</h2>
            </div>
          </div>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>3</h2>
            </div>
          </div>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>4</h2>
            </div>
          </div>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>5</h2>
            </div>
          </div>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>6</h2>
            </div>
          </div>
          <div class="card_right_card">
            <img src="./img/image-178.png" alt="" />
            <div class="card_right_card_text">
              <h3>Office Meetings Leave the Office</h3>
              <h4>15 minuts ago</h4>
              <h2>7</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="skidka">
      <div class="container1">
        <h2>Subscribe now and get 20% off</h2>
        <div class="input_side">
          <input type="email" id="email" placeholder="Enter your email" />
          <label for="email"><button type="submit">Subscribe</button></label>
        </div>
      </div>
    </div>
    <footer>
      <div class="container1">
        <div class="footer_first_floor">
          <div class="news">
            <h3>NEWS</h3>
            <h4>Nation</h4>
            <h4>World</h4>
            <h4>Politics</h4>
            <h4>Solar Eclipse</h4>
          </div>
          <div class="news">
            <h3>NEWS</h3>
            <h4>Nation</h4>
            <h4>World</h4>
            <h4>Politics</h4>
            <h4>Solar Eclipse</h4>
          </div>
          <div class="news">
            <h3>NEWS</h3>
            <h4>Nation</h4>
            <h4>World</h4>
            <h4>Politics</h4>
            <h4>Solar Eclipse</h4>
          </div>
          <div class="news">
            <h3>NEWS</h3>
            <h4>Nation</h4>
            <h4>World</h4>
            <h4>Politics</h4>
            <h4>Solar Eclipse</h4>
          </div>
          <div class="news">
            <h3>NEWS</h3>
            <h4>Nation</h4>
            <h4>World</h4>
            <h4>Politics</h4>
            <h4>Solar Eclipse</h4>
          </div>
          <div class="news">
            <h3>NEWS</h3>
            <h4>Nation</h4>
            <h4>World</h4>
            <h4>Politics</h4>
            <h4>Solar Eclipse</h4>
          </div>
        </div>
        <div class="footer_second_floor">
          <div class="footer_left_floor">
            <% if(islogo){ %>
               <img src="./img/logo.png" alt="" />
             <% } else { %>
               <img src="https://najottalim.uz/icons/logo.svg" alt="" />
            <% } %>
            <ul>
              <% students.forEach(function(user){ %>
               <li><a href="#"><%= user.name %></a></li>
             <% }); %>
            </ul>
          </div>
          <div class="footer_right_floor">
            <img src="./img/facebook.svg" alt="" />
            <img src="./img/facebook.svg" alt="" />
            <img src="./img/facebook.svg" alt="" />
            <img src="./img/facebook.svg" alt="" />
          </div>
        </div>
        <div class="footer_third_floor">
          <p>
            Universal’s business concept is to offer fashion and quality at the
            best price in a sustainable way. Universal has since it was <br />
            founded in 2015 grown into one of the world's leading fashion
            companies.
          </p>
          <h4>© 2019 Universal UI Kit</h4>
        </div>
      </div>
    </footer>
    <script src="./main.js"></script>
  </body>
</html>
